.ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.article .h3 {
    font-weight: 500;
    color: #111;
    margin-bottom: 0;
}

.article .a {
    color: #111;
    text-decoration: none;
}

.article .a:hover {
    text-decoration: underline;
}

.article .h4 {
    color: #222;
    font-weight: 400;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
}

.time {
    color: #555;
    font-size: 0.85rem;
    min-width: 102px;
    cursor: default;
    position: relative;
}

.time:hover::after {
    opacity: 1;
    transition: all 0.1s ease-in-out 0.5s;
    visibility: visible;
}

.time::after {
    content: attr(data-title);
    background-color: #333;
    color: #fff;
    font-size: .75rem;
    font-family: Menlo, Monaco, Lucida Console, "Courier New", monospace;
    position: absolute;
    padding: .2rem .5rem;
    bottom: -1.4rem;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    box-shadow: 1px 1px 1px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
    border-radius: 6px;
}

@media (width <=700px) {
    .time {
        text-align: right;
    }
}