.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-right: 32px;
}

.h1 {
    font-size: 2rem;
    margin: 0;
}

.h2 {
    color: #444;
    font-weight: 500;
    font-size: 1.1rem;
    text-wrap: balance;
    margin: 0;
}

.img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: 128px;
    border-radius: 16px;
}

.span {
    color: #666;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 0.85rem;
    letter-spacing: -0.05rem;
}

.print {
    display: none !important;
}

.noPrint {
    color: #555;
    font-size: 0.65rem;
    display: flex;
    gap: 4px;
    margin-top: 8px;
}

.a {
    color: #777;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    padding: 4px;
    height: 32px;
    width: 32px;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.a:hover {
    background: #eee;
    border: 1px solid #ddd;
}

@media print {
    .print {
        display: block !important;
        color: #555;
        font-size: 0.65rem;
        margin-top: 8px;
    }

    .noPrint {
        display: none !important;
    }
}

@media (width <=700px) {
    .container {
        flex-direction: column-reverse;
    }

    .info {
        justify-content: center;
        align-items: center;
        padding-right: 0;
        text-align: center;
    }

    .figure {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
}